{% extends "base.html.twig" %}

{% block body %}
<div class="container max-w">
  <div class="card shadow mb-3 p-5">

  <h2 class="page-header">Add Event</h2>

  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
  
  </div>
</div>
{% endblock %}