{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  {% for message in app.flashes("success") %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endfor %}

  <h2 class="page-header">Manage Events</h2>

  {% include "comp/cards.html.twig" %}
      
</div>
{% endblock %}