{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  <h1 class="text-danger text-center">Do you really want to delete this event?</h1>
  <p class="text-danger text-center">This action cannot be undone!</p>

  <div class="mb-4 text-center">
    <a class="btn btn-danger" href="/remove/{{event.id}}">Delete</a>
    <a class="btn btn-warning " href="/">Cancel</a>
  </div>

  {% include "comp/detail.html.twig" %}

</div>
{% endblock %}